<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jstech.gridregulation">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3aZgNqY7qD4jMYf033WalLvMuTOMdo3O"></meta-data>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SiteInspectionObjectMapActivity"
            android:label="现场检查地图页面"></activity>
        <activity
            android:name=".activity.SearchRegulateObjectActivity"
            android:label="搜索企业"></activity>

        <activity
            android:name=".activity.CheckTableSelect2Activity"
            android:label="选择检查内容"></activity>
        <activity
            android:name=".activity.CheckTableSelectActivity"
            android:label="选择检查表"></activity>

        <activity
            android:name=".activity.CheckItemSelectActivity"
            android:label="选择检查项目"></activity>
        <activity
            android:name=".activity.SiteCheckActivity"
            android:label="选择检查结果"></activity>
        <activity
            android:name=".activity.CheckMethodActivity"
            android:label="查看检查方法"></activity>

        <activity
            android:name=".activity.SiteCheckUploadActivity"
            android:label="检查结果"></activity>
        <activity
            android:name=".activity.SignatureActivity"
            android:label="签名"></activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
    </application>

</manifest>